{% extends 'base.html' %}
{% block title %}Django-nonrel Google App Engine OpenID Auth Example{% endblock %}

{% block content %}
<h1>Django-nonrel Google App Engine OpenID Auth Example</h1>

<p>
This example demonstrates how to setup OpenID authentication for Django-nonrel on Goole App Engine.
The source code of this little example is available at 
<a href="http://github.com/seelmann/django-nonrel-gae-openid-auth">http://github.com/seelmann/django-nonrel-gae-openid-auth</a>
</p>

<p>
Click the Login link below, it opens the login form where you can enter your OpenID URL.
Once authenticated your name and a Logout link will be displayed.
</p>

<p>
<strong>Please note:</strong> When you login your OpenID URL, Name, Nickname, and Email address will be stored 
in the the App Engine data store!
</p>

<p>
{% if user.is_authenticated %}
  Welcome {{ user.first_name }} {{ user.last_name }}, <a href="/accounts/logout/">Logout</a>
{% else %}
  <a href="/accounts/login/">Login</a></li>
{% endif %}			                             
</p>

{% endblock %}
